

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    font-family: Lato, sans-serif;
    font-size: 15px;
    padding: 0px;
    margin: 0px;
}

.emphasize {
    letter-spacing: 5px;
    /*color: rgb(46, 204, 113);*/
    color: white;
    font-style: italic;
}

.title {
    margin-bottom: 3em;
    background:rgba(0, 0, 0, 0.75) url(../img/test-2.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.title-content{
    background: rgba(0, 0, 0, 0.25);
}

.title .title-content {
    text-align: center;
    padding: 10em 2em;
}

.title .title-content h1 {
    font-size: 5.5em;
}

.title .title-content h3 {
    font-size: 3em;
}

.title .title-content h1, 
.title .title-content h3 {
    font-weight: 900;
    /*color: rgb(231, 76, 60);*/
    color: white;
}

/*.button {
    color: rgb(255, 255, 255);
    display: inline-block;
    border-radius: 2px;
    padding: 1em;
    border-style: none;
    background: rgb(46, 204, 113);
}

.button-lg {
    font-size: 16px;
    padding: 1em 1.5em;
}*/

.button-outside {
    padding: 5px;
}

.button-inside {
    background: rgb(46, 204, 113);
    height: 40px;
    position: relative;
}

.button-inside > a{
    text-decoration: none;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */ 
    transform: translate(-49%, -49%);
}

.header-title {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    color: #2c3e50;
    padding: 7px 21px 7px 21px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
    border: 3px solid #2c3e50;
}
